<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Massive_LesUng"
        tools:targetApi="31">
        <activity
            android:name=".SiswaHomepageRekrutBayarActivity"
            android:exported="false" />
        <activity
            android:name=".SiswaHomepageInformasiGuruActivity"
            android:exported="false" />
        <activity
            android:name=".SiswaHomepageActivity"
            android:exported="false" />
        <activity
            android:name=".OtpActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordNewActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".LengkapiDokumenActivity"
            android:exported="false" />
        <activity
            android:name=".ChoseRoleActivity"
            android:exported="false" />
        <activity
            android:name=".GuruEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".GuruInformasiSayaActivity"
            android:exported="false" />
        <activity
            android:name=".GuruPengaturanMengajarActivity"
            android:exported="false" />
        <activity
            android:name=".GuruProfileActivity"
            android:exported="false" />
        <activity
            android:name=".GuruPenilaianSiswaDidikActivity"
            android:exported="false" />
        <activity
            android:name=".GuruKelasBerlangsungKonfirmasiActivity"
            android:exported="false" />
        <activity
            android:name=".GuruKelasBerlangsungActivity"
            android:exported="false" />
        <activity
            android:name=".GuruHomepageActivity"
            android:exported="false" />
        <activity
            android:name=".GuruNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".daftarchat"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".SigninActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>